.batch.gold {
  color: #d4af37;
  font-weight: bold;
}

.batch.silver {
  color: #c0c0c0;
  font-weight: bold;
}

.batch.bronze {
  color: #cd7f32;
  font-weight: bold;
}
.leaderboard-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
