@import "tailwindcss";

/* Remove the max-width and padding to allow full-screen layout  - to make code editor visible*/
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; 
}
/* Ensure the body and html also take full height */
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
   /* Prevent double scrollbars */
} 

/* added above to check the code editor temporaly */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

